*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: 'Comfortaa', cursive;
    color: white;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section{
    font-size: 5rem;
}

.temperature-description{
    font-size: 5rem;
}

.location-timezone{
    font-size: 5rem;
}



table, th, tr{
    text-align: center;
    padding: 15px;
    margin-top: 150px;
    border-spacing: 10px;
}

th{
    font-size: 2rem;
}

tr{
    font-size: 1.5rem;
}